body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(215, 235, 255);

}
.square {
    position:fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:20%;
    background-color: rgb(255, 150, 170);
    z-index: -1;
    
}
a:default, a:visited {
    color: white;
    background-color: rgb(255, 150, 170);
    padding: 50px, 50px;
}
a:hover, a:active {
    background-color: rgb(255, 110, 135);
}
